* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Inter', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F55A5A;
    color: #FFFFFF;
    padding:0.8em;
}
.fa-solid{
    margin-right: 0.5rem;
    font-size:2rem;
}
.header h1{
     font-size: 1.2em;
     line-height:1;
     font-weight:400;
}
.main-section{
    display: flex;
    flex-direction: column;
    padding:2em;
    gap:2rem;
}
.card{
    display: flex;
    height:45vh;
    gap:1em;
}
.card--img{
    max-width: 200px;;
    border-radius:9px;
}
.card--details{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card--location_info > *{
    margin-left:0.7rem;
}
.fa-location-dot{
    color:#F55A5A;
    font-size:9px;
    margin:0;
}
.card--location{
    font-size:11px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.card--location_info a{
    color:#918E9B;
    font-size: 10px;
}
.card--details_title{
    margin-top: 0.7rem;
    color: #2B283A;
    font-size:1.6em;
}
.card--details_date{
    color: #2B283A;
    font-weight: bold;
    margin-bottom:0.7rem;
}
.card--details_description{
    width:80%;
}